
<div class="container" style="margin-top:70px">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/dw2.png" alt="" width="350px" height="350px" class="rounded-circle img-fluid">
      </div>
      <div class="col-md-8" >
        <h1 class="font-weight-bold">Desarrollo Web</h1>
        <h5 class="mt-3 text-justify">
          Una aplicación web es un programa que es accesible desde nuestro navegador de internet y tiene las mismas prestaciones que una aplicación de escritorio pero con la ventaja de ser accesible desde cualquier ordenador sin importar el sistema operativo.
        </h5>
        <p class="mt-3 text-justify">
            La importancia de tener una página Web para la empresa es que puede brindar información detallada de productos catálogos, etc. por Internet.

            De esta forma se evita enviar información impresa a los potenciales clientes no se deben realizar largas llamadas para brindar información detallada.

            Además los clientes pueden conocer productos y servicios antes de contactar vía telefónica, con lo cual la empresa sólo debe despejar pocas dudas, cerrar un trato o venta y no tiene que invertir mucho tiempo en dar a conocer sus productos ya que el cliente lo analizó por medio de su sitio web.
        </p>
        <h3 class="font-weight-bold">Principales beneficios</h3>
          <ol style="line-height: 35px">
            <li>Accede a tus datos desde cualquier dispositivo con conexión a internet</li>
            <li>Trabaja a distancia</li>
            <li>Compatibilidad con todos los sistemas operativos</li>
            <li>Actualizaciones inmediatas</li>
            <li>Centralización de todas las áreas de trabajo</li>
          </ol>
      </div>
    </div>
  </div>