<div class="container" style="margin-top:70px">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/st1.png" alt="" width="350px" height="350px" class="rounded-circle img-fluid">
      </div>
      <div class="col-md-8" >
        <h1 class="font-weight-bold">Soporte Técnico de la Pagina Web</h1>
        <h5 class="mt-3 text-justify">
            Una vez que la web está finalizada es importante mantenerla actualizada. 
        </h5>
        <p class="mt-3 text-justify">
            De nada sirve tener una web desactualizada, con fallos de seguridad, con contenidos obsoletos o con fallos debidos a los cambios en las tecnologías usadas en la propia página, como por ejemplo la mala visualización con las últimas versiones de los navegadores web (Internet explorer, Firefox, Chrome, … ).Por todo ello le ofrecemos nuestros servicios de soporte para su web.

        </p>
        <h3 class="font-weight-bold">Cuándo es recomendable contratar Soporte Técnico</h3>
          <ul style="line-height: 35px">
            <li>Si no dispone de conocimiento técnicos.</li>
            <li>Si desea delegar el trabajo de actualización de sus contenidos.</li>
            <li>Si necesita garantizar el buen funcionamiento de su web en todo momento.</li>
            <li>Si necesita asesoramiento técnico para la gestión de la web y del sistema de correo electrónico.</li>
            <li>Si la web dispone de bases de datos y de diferentes módulos de programación de cierta complejidad y no dispone de personal técnico.</li>
          </ul>
      </div>
    </div>
  </div>