

.bgmenu{
    background: rgba(0, 0, 0, .8);
    box-shadow: 2px 2px 5px rgba(223, 228, 234,.2);
}

.bgmenu .nav-item .nav-link{
    color: white;
}

.bgmenu .icono{
    background: white;
    color:black;
}