<header class="main-header">
        <div class="background-overlay text-white py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center justify-content-center align-self-center " style="margin-top:75px">
                <h1>
                  Diseño Web Responsivo
                </h1>
                <p>El cien por ciento del contenido y las páginas son flexibles en todas las resoluciones de pantalla y dispositivos. Ya sea que esté visualizando un sitio web en su teléfono inteligente o en una computadora portátil, el desempeño será unificado y fácil de navegar a pesar de los diferentes tamaños de pantalla. </p>
                <a routerLink="" class="btn btn-outline-secondary btn-lg text-white">
                  Contacto
                </a>
              </div>
              <div class="col-md-6 d-none d-md-block" style="margin-top:75px">
                <img src="/assets/pagresp2.png" class="img-fluid d-none d-sm-block" >
              </div>
            </div>
          </div>
        </div>
</header>
<app-dweb></app-dweb>
<app-stecnico></app-stecnico>
<app-dgrafico></app-dgrafico>