<div class="container" style="margin-top:70px">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/dg2.jpg" alt="" width="350px" height="350px" class="rounded-circle img-fluid">
      </div>
      <div class="col-md-8" >
        <h1 class="font-weight-bold">Diseño Gráfico</h1>
        <h5 class="mt-3 text-justify">
           El diseño gráfico e imagen empresarial abre la reflexión sobre identidad e imagen, o lo que es lo mismo, sobre cómo somos y cómo nos ven. 
        </h5>
        <p class="mt-3 text-justify">
            Nuestra labor como diseñadores gráficos es la de encontrar la solución que mejor se ajuste a tus necesidades de comunicación visual. Ya sea para un folleto promocional, o para diseñar toda la imagen corporativa de tu empresa o entidad, trabajamos con absoluta dedicación y siempre buscando el diseño más profesional. 
            Puedes empezar pidiéndonos el diseño de un logo y más adelante puede que necesites ampliar la imagen corporativa para adaptarla a nuevos productos o servicios o bien a unas nuevas instalaciones, por ejemplo.

        </p>
        <h3 class="font-weight-bold">Cuándo es recomendable contratar Soporte Técnico</h3>
          <ul style="line-height: 35px">
            <li>Si no dispone de conocimiento técnicos.</li>
            <li>Si desea delegar el trabajo de actualización de sus contenidos.</li>
            <li>Si necesita garantizar el buen funcionamiento de su web en todo momento.</li>
            <li>Si necesita asesoramiento técnico para la gestión de la web y del sistema de correo electrónico.</li>
            <li>Si la web dispone de bases de datos y de diferentes módulos de programación de cierta complejidad y no dispone de personal técnico.</li>
          </ul>
      </div>
    </div>
  </div>