
  <header class="main-header">
      <div class="background-overlay text-white py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center justify-content-center align-self-center " style="margin-top:75px">
              <h1>
                  Tecnologías Aprovechamos al máximo las tecnologías más novedosas
              </h1>
            </div>
            <div class="col-md-6 d-none d-md-block" style="margin-top:75px">
              <img src="/assets/pagresp2.png" class="img-fluid d-none d-sm-block" >
            </div>
          </div>
        </div>
      </div>
</header>


  <div class="titulo mt-5">
    <div class="container">
      <h1 class="font-weight-bold">ALGUNAS DE LAS TECNOLOGÍAS QUE UTILIZAMOS</h1>
    </div>
  </div>
  
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/html.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">HTML 5</h5>
                  <p class="card-text">Con HTML5 tendrá páginas y aplicaciones que los navegadores desplegarán mucho más rápido y con mayor calidad.</p>
                
                </div>
              </div>
            </div>
          </div>      
    </div>
    <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/css3.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">CSS3</h5>
                  <p class="card-text">Incluya a su sitio bordes redondeados, textos con sombras, la capacidad de asignar múltiples fondos, un mejor manejo de tablas incluyendo el estilo zebra, multi-columnas, etc</p>
                </div>
              </div>
            </div>
          </div>      
    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../assets/javascript.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Java Script</h5>
                    <p class="card-text">Generalmente requerimos de la ayuda de otros lenguajes para darles a nuestros sitios web características de interactividad. De estos lenguajes, el más utilizado es JavaScript.</p>
                  </div>
                </div>
              </div>
            </div>      
      </div>
      <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../assets/nodejs.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Node.js</h5>
                    <p class="card-text">Es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor (pero no limitándose a ello) basado en el lenguaje de programación ECMAScript, asíncrono, con I/O de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google.</p>
                  
                  </div>
                </div>
              </div>
            </div>      
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../assets/express.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Express</h5>
                    <p class="card-text">Express.js, o simplemente Express, es un framework web para Node.js, publicado como software libre y de código abierto bajo la Licencia MIT. Está diseñado para la construcción de aplicaciones web y API. Es el framework de servidor estándar de facto para Node.js..</p>
                  
                  </div>
                </div>
              </div>
            </div>      
      </div>
      <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../assets/angular.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">AngularJS (comunalmente llamado "Angular.js" o "AngularJS 1"), es un framework de JavaScript de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página. Su objetivo es aumentar las aplicaciones basadas en navegador con capacidad de Modelo Vista Controlador (MVC), en un esfuerzo para hacer que el desarrollo y las pruebas sean más fáciles.</p>
                  </div>
                </div>
              </div>
            </div>      
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../assets/bootstrap.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Bootstrap</h5>
                    <p class="card-text">Es un framework o conjunto de herramientas de Código abierto para diseño de sitios y aplicaciones web. Contiene plantillas de diseño con tipografía, formularios, botones, cuadros, menús de navegación y otros elementos de diseño basado en HTML y CSS, así como, extensiones de JavaScript opcionales adicionales.</p>
                  </div>
                </div>
              </div>
            </div>      
      </div>
      <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../assets/php.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">PHP</h5>
                    <p class="card-text">PHP es un lenguaje de programación de uso general de código del lado del servidor originalmente diseñado para el desarrollo web de contenido dinámico. Fue uno de los primeros lenguajes de programación del lado del servidor que se podían incorporar directamente en el documento HTML en lugar de llamar a un archivo externo que procese los datos.</p>
                  </div>
                </div>
              </div>
            </div>      
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../assets/jquery.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">JQuery</h5>
                    <p class="card-text">JQuery La característica principal de la biblioteca es que permite cambiar el contenido de una página web sin necesidad de recargarla, mediante la manipulación del árbol DOM y peticiones AJAX.</p>
                  </div>
                </div>
              </div>
            </div>      
      </div>
  </div>
</div>