// estilos de imagen
// .main-header {
//     position: relative;
//     margin-top: 50px;
//     background: url(/assets/unsolotamanio3.jpg);
//     background-size: cover;
//     min-height :500px;
//   }
  
//   .background-overlay {
//    position:absolute;
//     background: rgba(48, 51, 107,.7);
//     top: 0;
//     left: 0;
//     width: 100%;
//     height:100%;
//   }

//carrusel maso
//   .imgcarrusel{
//     height: 700px;
//       width: 100%;
//   }

//video
.video-container 
{
  top: 0%;
  left: 0%;
  width: 100%;
  overflow: hidden;
 position: relative;
}
video.fillWidth {
  width: 100%;
  height: auto;
}
.j{
    color: white;
    position: absolute;
    top:40%;
    width: 100%;
}


  .servicio h1{
    text-align: center;
    color:#ff2a2a;
  }
  .servicio span{
      color: #ff2a2a;
  }
  .servicio button{
    background: #e13d3a;
    color: white;
  }
  .servicio p{
      text-align: justify;
  }
  .servicio img{
      width: 170px;
      height:170px;
  }
  .qsomos{
      background: url("/assets/qs1.jpg");
      min-height: 600px;
      background-size: cover;
  }
  .deg{
      background: rgba(26, 25, 25, 0.7);
      min-height: 600px;
  }

  .deg .container{
     
      border:  rgba(121, 120, 120, 0.7) 10px double;
      height: 500px;
  }
  .deg .container .row{
      color:white;
     text-align: justify;
  }
  .cualidades .num{
      font-size: 80px;
      color: rgba(192, 190, 190, 0.7);
  }

  .cualidades .cua{
      color: #ff2a2a;
      text-align: center;
  }

  .cualidades span{
    color: #ff2a2a;
  }

  .contacto{
      background: url("/assets/qs2.png");
      background-size: cover;
      min-height: 500px;
  }

  .degc{
    background: rgba(26, 25, 25, 0.7);
    min-height: 500px;
    color:white;
  }

  .degc .container{
    border:  rgba(121, 120, 120, 0.7) 10px double;
    height: 500px;
  }