// estilos de imagen
// .main-header {
//     position: relative;
//     margin-top: 50px;
//     background: url(/assets/unsolotamanio3.jpg);
//     background-size: cover;
//     min-height :500px;
//   }
  
//   .background-overlay {
//    position:absolute;
//     background: rgba(48, 51, 107,.7);
//     top: 0;
//     left: 0;
//     width: 100%;
//     height:100%;
//   }

//carrusel maso
//   .imgcarrusel{
//     height: 700px;
//       width: 100%;
//   }

//video
.video-container 
{
  // top: 60px;
  left: 0%;
 width: 100%;
  height: 700px;
  overflow: hidden;
 position: relative;
}

.fondovid{
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
    top:0%;
    width: 100%;
    height: 100%;
}
.titulo{
    color: white;
    position: absolute;
    top:30%;
    width: 100%;
    height: 100%;
}

.titulo h1{
    color: #0056b3;
    font-size: 90px;
}
.titulo span{
    color: white;
}

.titulo2{
  position: absolute;
    top:62%;
    left: 50%;
    width: 100%;
    height: 100%;
    color: white;
}

// servicio
.servicio{
    margin-top: 18px;
}
  .servicio h1{
    text-align: center;
    color:#0056b3;
  }
  .servicio span{
      color: #0056b3;
  }
  .servicio button{
    background: #023f81;
    color: white;
  }
  .servicio p{
      text-align: justify;
  }
  .servicio img{
      width: 170px;
      height:170px;
  }
//   qsomos
  .qsomos{
      background: url("/assets/qs1.jpg");
      background-size: cover;
  }
  .deg{
      background: rgba(26, 25, 25, 0.7);
      min-height: 500px;
  }

  .filan{
      border:  rgba(121, 120, 120, 0.7) 10px double;
  }
  .deg .container .row{
      color:white;
     text-align: justify;
  }
  .ihtml{
      width: 0%;
  }
  .fhtml{
      width: 90%;
  }
  .animacion{
      transition: all 2s ease .5s;
  }
  .iconc{
    color: blue;
    font-size: 30px;
  }

  .qsomos button{
    background: #023f81;
    color: white;
  }

//   cualidades
  .cualidades .num{
      font-size: 80px;
      color: rgba(192, 190, 190, 0.7);
  }

  .cualidades .cua{
      color: #0056b3;
      text-align: center;
  }

  .cualidades span{
    color: #0056b3;
  }

  .contacto{
      background: url("/assets/qs2.png");
      background-size: cover; 
  }

  .degc{
    background: rgba(26, 25, 25, 0.7);
    min-height: 300px;
    color:white;
  }

  .fila{
    border:  rgba(121, 120, 120, 0.7) 10px double;
  }

  .icon{
      color: blue;
      font-size: 30px;
  }
  .contc{
      text-align: center;
  }