<!-- carrusel sin decicion aun -->
<!-- <ngb-carousel >
  <ng-template ngbSlide>
    <img src="../assets/unsolotamanio1.jpg" alt="Random first slide" class="imgcarrusel">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/unsolotamanio2.jpg" alt="Random second slide" class="imgcarrusel">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/unsolotamanio3.jpg" alt="Random third slide" class="imgcarrusel">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel> -->


<div class="video-container">
    <video id="video" preload="auto" muted="muted" autoplay="autoplay" loop="loop" class="visible-lg" height="auto">
       <source src="../assets/fondoazul1.mp4" type="video/mp4; " />        
       Your browser does not support the video tag.
   </video>
   <div class="fondovid">
    <div class="titulo">
      <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="font-weight-bold"><span>Ttee</span>Nbe</h1>
              <h2 class="font-weight-bold">Diseñando plataformas intuitivas en la Nube</h2>
              <h5>Su socio tecnológico en investigación y desarrollo</h5>
            </div>
          </div>
      </div>
    </div>
    <div class="titulo2">
      <div class="container">
        <div class="row">
            <div class="col-md-4 d-none d-md-block text-center py-3" style="border: white 3px double">
                <h5 class="font-weight-bold">CONTACTO</h5>
                <p>79538290 75281840</p>
                <P>Estamos preparados para iniciar tu proyecto llamanos ahora
               </P>
               <span style="color:#0056b3">¡Llamanos ya!</span>
            </div>
        </div>
      </div>
    </div>
   </div>
   
    
</div>


<!-- servicios -->
<div class="py-5 servicio ">
  <div class="container">
    <h1 class="font-weight-bold">Ingeniería Informática a su Servicio</h1>
    <div class="d-flex justify-content-center">
        <p class="col-md-8 text-center">Consultoría informática especializada en Investigación y desarrollo de proyectos tecnológicos, aplicaciones móviles, aplicaciones web y aplicaciones interactivas </p>
    </div>

    <div class="row mt-5">
      <div class="col-md-2 justify-content-center d-flex">
        <img src="../assets/dw2.png" alt="" class="rounded-circle img-fluid" >
      </div>
      <div class="col-md-4">
        <span class="font-weight-bold">DISEÑO WEB</span>
        <p>
          Cualquier negocio actual necesita una información estructurada y de facil acceso, un panel de control desde el cual puedes controlar todo.
        </p>
        <button class="btn btn-sm" routerLink="/dweb">Leer mas..</button>
      </div>
      <div class="col-md-2 justify-content-center d-flex">
          <img src="../assets/dg1.jpg" alt="" class="rounded-circle img-fluid" >
      </div>
      <div class="col-md-4">
        <span class="font-weight-bold">DISEÑO GRAFICO</span>
          <p>
              Diseño de Identidad, Logos, Tarjetas, Folletos, Flyer, Packaging, Catálogos. Tambien hacemos el diseño de personajes y mascotas para darle vida a su marca.
          </p>
          <button class="btn btn-sm" routerLink="/dgrafico">Leer mas..</button>
      </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-2 justify-content-center d-flex">
            <img src="../assets/st1.png" alt="" class="rounded-circle img-fluid"  >
          </div>
          <div class="col-md-4">
            <span class="font-weight-bold">SOPORTE TECNICO</span>
            <p>
                Una vez que la web está finalizada es importante mantenerla actualizada, de nada sirve tener una web desactualizada, con contenidos obsoletos o con fallos debidos a los cambios en las tecnologías.
            </p>
            <button class="btn btn-sm" routerLink="/stecnico">Leer mas..</button>
          </div>
          <div class="col-md-2 justify-content-center d-flex">
              <img src="../assets/md2.jpg" alt="" class="rounded-circle img-fluid" >
          </div>
          <div class="col-md-4">
            <span class="font-weight-bold">MARKETING DIGITAL</span>
              <p>
                  Envíe correo masivo con la confiabilidad de que llegaran a bandeja de entra y obtendra estadísticas detalladas de su campaña personalizada.
              </p>
              <button class="btn btn-sm">Leer mas..</button>
          </div>
    </div>
  </div>
</div>

<!-- Quienes Somos -->
<div class="qsomos" id="nosotros">
  <div class="deg d-flex align-items-center">
      <div class="container">
          <div class="row filan py-5">
            <div class="col-md-7">
              <h1 class="font-weight-bold">Quienes Somos</h1>
              <p class="">
                  Ninguna empresa puede permitirse el lujo de no avanzar. Puede ser una empresa top hoy, pero del montón mañana, si no lo hace.
                  La tecnología avanza cada año y nosotros nos adaptamos a ella, nuevos recursos, nuevos sistemas, nuevos lenguajes de programación, nuevas técnicas.
                  Nos optimizamos en los procesos administrativos, desarrollando estrategias para cumplir y mejorar el entorno de su sistema  sus componentes en el software facilitándole la configuración y mantenimiento.
              </p>
            </div>
            <div class="col-md-5">
              <div class="py-3">
                <div class="mb-2">
                    <i class="fab fa-html5 iconc"></i> Codificando en HTML5
                </div>
                <div class="progress">
                  <div id="html" class="progress-bar progress-bar-striped progress-bar-animated bg-primary inicio animacion" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" > 90%</div>
                </div>
              </div>
              <div class="py-3">
                <div class="mb-2">
                    <i class="fab fa-css3-alt iconc"></i> Codificando en CSS3
                </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary css" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                  </div>
              </div>
              <div class="py-3">
                <div class="mb-2">
                    <i class="fab fa-js iconc"></i> Codificando en JS
                </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary js" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                  </div>
              </div>
              <button class="btn" routerLink="/tecnologia">Leer mas..</button>
            </div>
          </div>
        </div>
  </div>
</div>

<!-- Cualidades -->
<div class="cualidades py-5">
    <div class="container">
        <h1 class="font-weight-bold cua">Nuestras Cualidades</h1>
        <div class="d-flex justify-content-center">
          <p class="col-md-8 text-center">Nuestra habilidades nos permiten ofrecerle una gama de soluciones para resolver problemáticas, podemos ayudar a tu empresa a lograr el éxito que busca obtener.</p>
        </div>
        <div class="text-center mt-3">
          <img src="../assets/siluetas2.jpg" width="400px">
        </div>
        <div class="row mt-5">
          <div class="col-md-4">
            <h1 class="font-weight-bold num">01.</h1>
            <span class="font-weight-bold">Calidad</span>
            <p>Equipo formado por Ingenieros en Sistemas con experiencia en el sector.</p>
          </div>
          <div class="col-md-4">
              <h1 class="font-weight-bold num">02.</h1>
              <span class="font-weight-bold">Integridad</span>
              <p>Cada proyecto que trabajamos lo enfocamos como si fuera nuestro, siempre recomendamos la mejor opción</p>
          </div>
          <div class="col-md-4">
              <h1 class="font-weight-bold num">03.</h1>
              <span class="font-weight-bold">Innovacion</span>
              <p>A la vanguardia de las últimas tecnologías, le asesoraremos para mejorar su proyecto.</p>
          </div>
        </div>
      </div>
</div>


<!-- Contacto -->
<div class="contacto  mb-5" id="contacto">
  <div class="degc">
      <div class="container py-5">
          <div class="row fila" >
              <div class="col-md-4 col-sm-12 p-5">
                  <h1 class="font-weight-bold">¡Estamos en Contacto!</h1>
                  <h5>¡Esperamos comenzar un proyecto contigo!</h5>
              </div>
               <div class="col-md-4 col-sm-6 col-xs-6 align-self-center contc">
                <i class="fas fa-phone icon" ></i><br>
                 <span class="font-weight-bold">TELEFONO</span>
                 <p>+591 79538290</p>
                 <p>+591 75281840</p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6 align-self-center contc">
                <i class="fas fa-envelope icon" ></i><br>
                 <span class="font-weight-bold">EMAIL</span>
                 <p>plataf.web.int@gmail.com</p>
              </div>
          </div>
      </div>
  </div>
</div>
