<!-- carrusel ojo revisar -->
<!-- 
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/unsolotamanio1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>titulo 1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquid voluptas molestiae velit sapiente illo architecto expedit</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/unsolotamanio2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>titulo 2</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquid voluptas molestiae velit sapiente illo architecto expedit</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/unsolotamanio3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>titulo 3</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquid voluptas molestiae velit sapiente illo architecto expedit</p>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div> -->

<!-- HEADER -->
<header class="main-header">
    <div class="background-overlay text-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center justify-content-center align-self-center mt-5 ">
            <h1>
              this is the title or a phrase relate to the product
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sit natus rerum obcaecati sed sapiente suscipit illum excepturi a officiis. Inventore tenetur sit, iste quisquam consectetur odit necessitatibus quod ab!</p>
            <a href="#" class="btn btn-outline-secondary btn-lg text-white">
              Read More
            </a>
          </div>
          <div class="col-md-6">
            <img src="/assets/pagresp2.png" class="img-fluid d-none d-sm-block mt-5" >
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!-- una descripcion de los servicios -->
  <div class="bg-dark py-5">
      <div class="container">
          <div class="row">
            <div class="col-md-4 ">
                <div class="card center" style="width: 18rem;">
                    <img src="/assets/pagresp.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/pagresp.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/pagresp.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="row mt-4">
              <div class="col-md-4 ">
                  <div class="card" style="width: 18rem;">
                      <img src="/assets/pagresp.jpg" class="card-img-top " alt="...">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 ">
                  <div class="card" style="width: 18rem;">
                      <img src="/assets/pagresp.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                      <img src="/assets/pagresp.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
  </div>
  <!-- Bienvenido -->
  <div class="py-5">
    <div class="container">
      <div class="row">
          <div class="col-md-6 text-center justify-content-center align-self-center ">
              <h1>Hola!</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ut illo laudantium in harum voluptatem molestias quos itaque optio dolorum, doloribus cupiditate consequuntur iure sit atque laboriosam qui, sint consectetur!</p>
            </div>
            <div class="col-md-6">
              <img src="/assets/pagresp2.png" alt="" class="img-fluid d-none d-sm-block">
            </div>
      </div>
    </div>
  </div>
  